<div class="sidenav">
    <h1 id="logoText">Quick Chat</h1>  
    <div class="users-list">
        <h2>Contact List</h2>
        <button *ngFor="let user of usersList" 
        (click)="onUserSelect(user.user.id)">{{user.user.full_name}} 
        </button> 
    </div>
</div>
<div class="video-container">
    <video id="localVideo"></video>
    <video id="remoteVideo"></video>
</div>

<div class="modal fade" *ngIf="accept" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-default" (click)="acceptCall()"
            data-dismiss="modal">Accept
            </button>
            <button type="button" class="btn btn-default"
            data-dismiss="modal">Decline
            </button>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
</div>