#logoText{
    color: white;
    text-align: center;
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(20, 44, 179);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav .users-list h2 {
    text-align: center;
}

.sidenav .users-list button {
    font-size: 25px;
    color: #818181;
    width: 100%;
    display: block;
    background: transparent;
    border-style: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.video-container{
    margin-left: 300px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}