<div class="login-page">
  <div class="form">
    <form class="login-form" (ngSubmit)="onLoginSubmit()">
      <input type="text" required placeholder="Enter username" 
      [(ngModel)]="loginPayload.login" name="login"/>
      <input type="password" required placeholder="Enter password" 
      [(ngModel)]="loginPayload.password" name="password"/>
      <button type="submit">Login</button>
    </form>
  </div>
</div>